div {
  height: 161px;
  width: 161px;
  margin: 20px;
  padding: 7px;
  background-color: yellow;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
.second {
  width: 700px;
  height: 210px;
  box-sizing: border-box;
  
}
.second > div {
  display: inline-block;


}
.second > .dos{
  background: #de23c9;
}

.third, .fourth{
  display: inline-block;
}
